@use './base';
@use './components';
@use './utilities';
@media (min-width: 1440px) {
    .prod-picture-sm {
      display: none;
    }
    .prod-picture-lg {
      display: block;
      width: 50%;
    }
  }
  